
.App {
  text-align: center;
}

.img-logo {
  margin-left: 5vw;
  width: 35vw;
  max-width: 125px;
  height: auto;
}

.btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  justify-content: center;
}
.form {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-submit,
.confirm-btn {
  border: 0;
  background: none;
  box-shadow: none;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #264653;
  color: #fafafa;
  font-size: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: auto;
  margin-right: 3vw;
  background: none;
  box-shadow: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #264653;
  color: #fafafa;
  font-size: auto;
  text-decoration: none;
}

.btn-homepage-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-submit {
  margin: 20px;
  height: 50px;
  background: #264653;
  color: white;
  font-weight: 700;
  font-size: large;
  
}

input {
  border-radius: 1.5rem;
  border-color: #264653;
  margin: 20px;
  height: 50px;
  padding: 10px 20px;
  font-weight: 200;
  box-shadow: 0 0 10px 1px #3333;
  font-size: large;
  outline:none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: auto;
  justify-content: space-between;
  background: #2a9d8f;
  border-radius: 1.5rem;
  margin: 1vh;
  box-shadow: 0 0 10px 1px #3333;
}

.header-title {
  margin-left: 10vw;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #2a9d8f;
  font-size: 1.5vh;
  border-radius: 1.5rem;
  margin: 1vh;
}
