
.front-description {
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5vh;
  margin-left: 3vw;
  margin-right: 3vw;
  width: 90vw;
  line-height: 1.5;
}

.lottie-front {
  width: 30vw;
  height: auto;
  max-width: 170px;
  margin-right: 2vw;
  margin-left: 2vw;
}