.btn-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75vw;
  min-height: 20vh;
  border: 0;
  background: none;
  box-shadow: none;
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 0.5rem;
  background: #e9c46a;
  color: #264653;
  font-size: 8vh;
  text-decoration: none;
}